
.topbar {
  align-self: start;
  justify-self: stretch;
}

.topnav {
  border-bottom: 1px solid black;
  margin: 10px;
}

.topnav a {
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.topnav a:hover {
  color: #000;
}